section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(/images/flag2.jpg);
  background-size: cover;
  background-position: center;
}
.content .info h1{
  max-width: 650px;
  margin: 60px 100px;
  color: rgb(230, 218, 218);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 40;
  letter-spacing: 1px;
  line-height: 60px;
  margin-bottom: 10px;
}
.content .info p{
  font-size: 16px;
  font-weight: 20px;
  margin-bottom: 40px;
  color: rgb(216, 213, 213);
  margin: 60px 100px;
}
#about{
  padding: 10%;
}
#about h5{
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
}
#about{
  padding-top: 5%;
  margin: auto;
  text-align: center;
}

form {
  padding-top: 5%;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

legend {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

input[type=number],
[type="radio"] {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}
#footer p{
  text-align: center;
}
#footer .section-a{
  background-color: black;
  padding: 0%;
  margin: 0%;
}
.section-a i{
  color: #fff;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}
.section-b p{
  text-transform: uppercase;
  text-align: center;
}

